<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://104.248.237.254:8082/util.js"></script>
    <script>checkSessionActive();</script>
    

</head>

<body>
        <button onclick="goBack()">Regresar</button>

    <script>
        var postidinf = "<%= idpost %>";
        console.log("post id info:");
        console.log(postidinf);
    </script>

    <!--listar post-->
    <section id="listaPost">
        <h1>Informacion del Post</h1>
        <hr>
        <div id="listDiv" class="row">

            <div v-for="post in postsList">


                <div class="container">
                    <h1>{{ post.titulo }}</h1>
                    <p>Creado:&nbsp;{{ post.fechaCreacion }}</p>
                    <hr>
                    <br><br>
                    <p>
                        <div v-html="post.contenido"></div>
                    </p>

                </div>
            </div>


        </div>


        <div id="comentarioListDiv" class="row">
            <h3>Comentarios</h3>
            <hr>
            <div v-for="comentario in comentarioList" class="collection">


                <p class="collection-item"><span class=" badge">Creado:&nbsp;{{comentario.fechaCreacion}}</span>{{comentario.comentario
                    }}</p>



            </div>


        </div>
    </section>
    <!--crear Comentarios-->
    <section id="crearComentario">
        <h1>Agregar Comentario</h1>
        <hr>
        <div id="crearComentariodiv" class="container">
            
            <textarea rows="10" cols="50" v-model="comentario" placeholder="comentario">
                            </textarea>
            <button v-on:click="createComentario">CREAR</button>
        </div>

    </section>
    <br><br><br>


</body>

<script>
    mainUrl = "104.248.237.254:8082";
    Vue.http.options.emulateJSON = true;
    //listar post vuejs
    var vm1 = new Vue({
        el: '#listDiv',
        data: {
            postsList: {}
        },
        created() {
            this
                .$http
                .get("http://" + mainUrl + "/posts/getById/" + postidinf)
                .then(function (response) {
                    console.log("response get all posts");
                    console.log(response)
                    this.postsList = response.data
                    console.log(this.postsList)
                })
        }
    });
    //listar comentarios del post vuejs
    var vm2 = new Vue({
        el: '#comentarioListDiv',
        data: {
            comentarioList: {}
        },
        created() {
            this
                .$http
                .get("http://" + mainUrl + "/comentario/getByPost/" + postidinf)
                .then(function (response) {
                    console.log("response get all comentarios");
                    console.log(response)
                    this.comentarioList = response.data
                    console.log(this.comentarioList)
                })
        }
    });
    //vue crear comentario vue js
    var vuecreacomentario = new Vue({
        el: '#crearComentariodiv',
        data: {
            useridComentario: '',
            contenidoidComentario: '',
            comentario: ''
        },
        // define methods under the `methods` object
        methods: {
            createComentario: function (event) {
                $.ajax({
                    method: "post",
                    type: "POST",
                    url: "http://" + mainUrl + "/comentario/create",
                    headers: {
                        "Content-Type": "application/json"

                    },
                    data: JSON.stringify({
                        userid:  getCookie("userid"),
                        contenidoid: postidinf,
                        comentario: this.comentario
                    }),
                    contentType: 'application/json',
                    processData: false,

                }).then(function (response) {
                    console.log(response);
                    if (response.msg == "success") {
                        alert("operacion exitosa");
                        location.reload();
                    }
                    else {
                        alert("error:" + JSON.stringify(response));
                    }


                }).catch(function (error) {
                    alert("error:" + JSON.stringify(error));
                });
            }
        }
    });


</script>

</html>