<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="util.js"></script>
    <script>checkSessionActive();  </script>

</head>

<body>
    <button onclick="goBack()">Regresar</button>
    <button onclick="logoutCookie()" style="float: right">Logout</button>

    <div class="card-panel" style="float: right">
        <span class="blue-text text-darken-2" id="usernameLabel">This is a card panel with dark blue text</span>
    </div>



    <!--crear Posts-->
    <section id="crearPost">
        <h1>Crear Posts</h1>
        <hr>
        <div id="crearPostdiv" class="container">
            <input v-model="titulo" placeholder="Titulo">
            <textarea rows="20" cols="50" v-model="contenido" placeholder="Contenido">
                </textarea>
            <button v-on:click="createPost">CREAR</button>
        </div>

    </section>
    <!--listar post-->
    <section id="listaPost">
        <h1>Lista de Posts</h1>
        <hr>
        <div id="listDiv" class="row">

            <div v-for="post in postsList" class="col s4">


                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRhv2_AJmH-7OPFYhiqCxprncJZbGF5uzAR_PRGbfFAKpB4SKgsw">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ post.titulo }}<i class="material-icons right">Leer
                                mas</i></span>
                        <p>Creado:&nbsp;{{ post.fechaCreacion }}</p>
                        <p>(id: {{ post._id}})</p>
                        <button v-on:click="deletePost(post._id)">Eliminar</button>

                    </div>
                    <div class="card-reveal">
                        <a class="btn-floating btn-large waves-effect waves-light red"  :href="'post_info_user/' + post._id">Leer Todo</a>
                        <span class="card-title grey-text text-darken-4">{{ post.titulo }}<i class="material-icons right">close</i></span>
                        <p>
                            <div v-html="post.contenido"></div>
                        </p>


                    </div>
                </div>
            </div>

        </div>
    </section>


    <br><br><br>
    <script>
        mainUrl = "104.248.237.254:8082";
        Vue.http.options.emulateJSON = true;
        //listar post vuejs
        var vm1 = new Vue({
            el: '#listDiv',
            data: {
                postsList: {}
            },
            created() {
                this
                    .$http
                    .get("http://" + mainUrl + "/posts/getAll")
                    .then(function (response) {
                        console.log("response get all posts");
                        console.log(response)
                        this.postsList = response.data
                        console.log(this.postsList)
                    })
            },
            methods: {

                deletePost: function (id) {
                    $.ajax({
                        method: "delete",
                        type: "DELETE",
                        url: "http://" + mainUrl + "/posts/" + id,
                        headers: {
                            "Content-Type": "application/json"

                        },
                        contentType: 'application/json',
                        processData: false,

                    }).then(function (response) {
                        console.log(response);
                        if (response.msg == "success") {
                            alert("Operacion exitosa");
                            location.reload();
                        }
                        else {
                            alert("error:" + JSON.stringify(response));
                        }


                    }).catch(function (error) {
                        alert("error:" + JSON.stringify(error));
                    });
                }
            }
        });
        //crear post vuejs
        var vuecreatepost = new Vue({
            el: '#crearPostdiv',
            data: {
                userid: '',
                titulo: '',
                contenido: ''
            },
            // define methods under the `methods` object
            methods: {
                createPost: function (event) {
                    $.ajax({
                        method: "post",
                        type: "POST",
                        url: "http://" + mainUrl + "/posts/create",
                        headers: {
                            "Content-Type": "application/json"

                        },
                        data: JSON.stringify({
                            userid: getCookie("userid"),
                            titulo: this.titulo,
                            contenido: this.contenido
                        }),
                        contentType: 'application/json',
                        processData: false,

                    }).then(function (response) {
                        console.log(response);
                        if (response.msg == "success") {
                            alert("Operacion exitosa");
                            location.reload();
                        }
                        else {
                            alert("error:" + JSON.stringify(response));
                        }


                    }).catch(function (error) {
                        alert("error:" + JSON.stringify(error));
                    });
                }
            }
        });

        cargarDatosUsuario("usernameLabel");
    </script>


</body>


</html>